<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="offline-bolt"></ion-icon>
      <ion-label>Consumo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carbon-footprint" href="/tabs/carbon-footprint">
      <ion-icon name="foot" aria-hidden="true"></ion-icon>
      <ion-label>Mi huella</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
