.sticky {
  position: sticky;
  top: var(--ivi-size-top-nav);
}

#container-title {
  z-index: 5;

  &:not(.is-form) {
    display: flex;
    justify-content: space-between !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
  }
}

.is-form {
  padding: 1rem !important;
  
  .container-back-button {
    display: none;
  }
}