<!-- <h1 class="h4 fw-bold text-body-emphasis pt-4 pb-2">{{ title }}</h1> -->
<div id="container-title" [class]="' rounded-top ' + (isForm ? ' is-form border-bottom ' : '') + (sticky ? ' sticky ' : '')">
  @if(backButton) {
    <div class="container-back-button" style="width: 57.78px;height: 45.8px;">
      <button type="button" (click)="historyBack()" class="btn animate__animated animate__fadeIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
      </button>
    </div>
  }
      
  <div>
    <h1 class="h5 my-0 text-dark-emphasis" [innerHtml]="title"></h1>
    @if(subtitle) {
      <div class="small text-secondary" [innerHtml]="subtitle"></div>
    }
  </div>
  <div class="d-flex align-items-center justify-content-between">
    @if(iconSrc) {
      <img style="width: 40px; height: 40px;" [src]="iconSrc" alt="Icon Zavafa">
    }
  </div>
</div>