/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


// @import "styles/custom-bootstrap/index";

@import "styles/general/text";
@import "styles/general/animations";
// @import "styles/general/forms";
// @import "styles/general/ripple";


// html, body {
//   height: 100%;
//   scroll-behavior: smooth;
// }

@font-face {
  font-family: 'Lexend Deca';
  src: url('/assets/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf') format('ttf'),
       url('/assets/fonts/Lexend_Deca/static/LexendDeca-Medium.ttf') format('ttf'),
       url('/assets/fonts/Lexend_Deca/static/LexendDeca-Bold.ttf') format('ttf');
  // font-weight: normal;
  // font-style: normal;
}


* {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

// Light Mode
:root {
  ion-item {
    --border-color: rgb(61, 61, 61);
  }
}

// Light Mode
@media (prefers-color-scheme: dark) {
  ion-item {
    --border-color: rgb(61, 61, 61);
  }
}


ion-title, ion-card-title {
  font-weight: bold;
}

ion-card {
  border-radius: 2em;
}