@if(!appLoaded) {
  <div class="launcher-container" style="z-index: 5">
    <div class="text-center">
      <div class="animate__animated animate__fadeIn">
        <img src="./assets/icon/logo-letters.svg" style="width: 300px;height: 300px;" />
      </div>
      <div class="my-4">
        <app-loading-bar />
      </div>
      <!-- <div class="animate__animated animate__fadeIn mt-5" style="animation-delay:  200ms;">
        <img src="./assets/img/logo-sen.png" class="img-fluid" style="width: 100px;" />
      </div> -->
    </div>
  </div>
}